@layer components {
  details {
    interpolate-size: allow-keywords;
    overflow: clip;
    margin-top: 0.125em;
    border: 1px solid #dddddd;
    background: #ffffff;
    color: #333333;
    border-radius: 3px;

    main {
      padding: 4px;
    }

    summary {
      display: block;
      cursor: pointer;
      position: relative;
      padding: 0.5em 0.5em 0.5em 0.7em;
      background: #ededed;
      color: #2b2b2b;
      border-radius: 3px 3px 0 0;
    }
  }

  details:not([open]) summary:hover,
  details:not([open]) summary:focus {
    background: #f6f6f6;
    color: #454545;
  }

  details[open] summary {
    outline: 1px solid #003eff;
    background: #007fff;
    color: #ffffff;
  }

  details[open]::details-content {
    height: auto;
  }

  details::details-content {
    height: 0;
    overflow-y: clip;
    transition: content-visibility 475ms allow-discrete, height 475ms;
  }
}
