@inherits LayoutComponentBase

<header class="w-full flex items-center p-6 bg-background">
    <a href="/" class="m-0 text-xl font-bold">Home</a>
</header>

<main class="p-2 overflow-y-auto">
    @Body
</main>

@* <footer>
</footer> *@
