@inherits LayoutComponentBase

@inject TranslateService translate

@if (ThisAssembly.IsPrerelease)
{
    <div class="fixed w-full h-0 pointer-events-none">
        <div class="p-1 bg-amber-500 origin-top float-right mt-4 mr-4 w-28 text-center translate-x-1/2 rotate-45 pointer-events-none">
            <p class="font-mono font-semibold text-xs pointer-events-none">DEV</p>
        </div>
    </div>
}

<PageTitle>@title</PageTitle>

<header class="bg-background flex w-full items-center p-6">
    <p class="m-0 text-xl font-bold">@ShellContext.Title</p>
</header>

<main class="overflow-y-auto p-2">
    @Body
</main>

@code {
    private string? title;

    protected override void OnInitialized()
    {
        ShellContext.TitleChanged.Subscribe(title =>
        {
            this.title = string.IsNullOrEmpty(ShellContext.Title) ? "Tab Keeper" : $"Tab Keeper - {title}";
            StateHasChanged();
        });
    }
}
