@inherits CoreComponent

<TabKeeper.Components.Dialog @ref="dialog" class="m-0 w-screen h-screen max-w-[100vw] max-h-screen bg-transparent" @onclick="Close" IsOpenWhen="IsOpenWhen">
    <div class="max-h-[70vh] mt-24 mx-4 p-4 rounded-2xl bg-secondary-container overflow-y-auto" @onclick:stopPropagation>
        @ChildContent?.Invoke(dialog)
    </div>
</TabKeeper.Components.Dialog>

@code {
    Dialog dialog = null!;

    [Parameter]
    public RenderFragment<Dialog>? ChildContent { get; set; }

    [Parameter]
    public IObservable<bool>? IsOpenWhen { get; set; }

    public void Open()
    {
        dialog.Open();
    }

    public void Close()
    {
        dialog.Close();
    }
}
