@inject TranslateService translate

<div class="flex flex-col">
    <LottiePlayer Source="lottie/not-found.lottie" AutoPlay Loop />
    <a class="mx-auto mt-2 btn btn-primary" href="/">@("general.home" | translate)</a>
</div>
