@inject TranslateService translate

<div class="flex flex-col">
    <LottiePlayer Source="https://lottie.host/649b7619-b7a8-4f7c-b49a-09d205a98ceb/YtUY4RPo5C.json" AutoPlay Loop />
    <a class="mx-auto mt-2 btn btn-primary" href="/">@("general.home" | translate)</a>
</div>
