@inherits LayoutComponentBase

<header class="w-full flex items-center p-6 bg-background">
    <h1 class="m-0">Home</h1>
</header>

<main class="p-2 flex flex-col overflow-y-auto">
    @Body
</main>

@* <footer>
</footer> *@
