@inherits CoreRxComponent<PersonViewModel>

<div class="card space-y-3">
    <div class="flex justify-between pb-1 border-b items-start">
        <h2 class="m-0">@ViewModel.Name</h2>

        <Button class="" OnClick="OnRemoveClicked">
            <FaSolidTrash class="icon-sm" />
        </Button>
    </div>
    <div class="flex items-center gap-4">
        <div class="flex gap-2 items-center">
            <FaSolidMoneyBillTransfer class="icon-sm" />
            <p class="font-semibold">@(ViewModel.Total.ToString("0.00"))</p>
        </div>
        <Button class="ms-auto btn btn-primary p-2" OnClick="OnEditClicked">
            <FaSolidBagShopping class="icon-sm" />
        </Button>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback OnEditClicked { get; set; }

    [Parameter]
    public EventCallback OnRemoveClicked { get; set; }
}